#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.error {
    color: red;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}

.leftContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.title {
    font-size: 1rem;
    font-weight: bold;
}

.statsContainer {
    border: 1px solid black
}

.statsName {
    font-weight: bold;
}

.statsNumber {
    margin-left: 5px;
    color: #535bf2;
}

.statsLevel {
    margin-left: 5px;
    font-weight: bold;
}

.statsLevelNumber {
    margin-left: 5px;
    color: #535bf2;
}

.statsScore {
    margin-left: 5px;
    font-weight: bold;
}

.statsScoreNumber {
    margin-left: 5px;
    color: #535bf2;
}
