
.valuableSubTitle {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

.valuableSubListContainer {
    max-width: 100%;
    padding: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 14px;
    overflow: auto;
}


.valuableSubStat {
    background: cornflowerblue;
    font-weight: 500;
    font-size: 13px;
    padding: 3px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}

.valuableClearIcon {
    cursor: pointer;
}
